:root {
  --green: #287218;
  --red: 	#ad273f;
  --text: #EBEBEB;
  --text-gray: #9b9b9b;
  --shapes: rgba(255, 255, 255, 0.05);
  --background: #1C1C29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font: 16px "Poppins", Arial, sans-serif;
  color: var(--text);

  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}