header.header {
  width: 100%;

  padding-bottom: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  
  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.75rem;

    img {
      width: 3rem;
      margin-right: 1rem;
    }
  }
}