section.task-list {
  width: 70%;

  background: var(--shapes);
  border-radius: 1rem;
  

  padding: 5rem;
    
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    h2 {
      color: var(--text);
      font-size: 2.25rem;
    }

    .input-group {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      font-size: 16px;
      
      input {
        flex: 1;
        background: var(--text);
        border: 0;
        color: var(--background);
        padding: 12px 24px;
        
        border-radius: 8px;
        border: 0;
        
        &::placeholder {
          color: var(--text-gray)
        }
      }

      button {
        font-weight: 600;
        border-radius: 8px;
        border: 0;
        background: var(--text);
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 14px;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }

  main {
    margin-top: 3rem;

    ul {
      list-style: none;
  
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--text);
        padding: 1rem 0;

        div {
          display: flex;
          align-items: center;
          gap: 14px;
          outline: 0;

          p {
            font-size: 1rem;
            color: var(--text);
          }

          &.completed {
            p {
              text-decoration:line-through;
              opacity: 0.6;
            }
          }

          .checkbox-container {
            display: block;
            position: relative;
            padding-left: 14px;
            margin-bottom: 18px;
          
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;

              &:checked {
                & ~ .checkmark {
                  background-color: var(--background);
                }

                & ~ .checkmark:after {
                  display: block;
                }
              } 
            }
          
            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              width: 16px;
              height: 16px;
              background-color: var(--text);
              border-radius: 2px;
          
              &:after {
                content: "";
                position: absolute;
                display: none;
                left: 6px;
                top: 3px;
                width: 3px;
                height: 6px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
              }
            }
          }
        }

        button {
          background: transparent;
          border: 0;

          svg {
            color: var(--text);
          }

          &:hover {
            svg {
              filter: brightness(0.5)
            }
          }
        }
      }
    } 
  }
}

@media screen and (max-width: 1100px) {
  section.task-list {
    width: 100%;
    header {
      flex-direction: column;

      .input-group {
        margin-top: 1rem;
      }
    }
  }
}